################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/XUnitTestProject1/obj
/XUnitTestProject1/bin/Debug
